.app {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.main {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-bg);
  color: var(--color-text);
}